.serv-mainimg img{
    width: 98.9vw;
    object-fit: cover;
    height: 99vh;
    opacity: 0.85;
    position: relative;
}

.serv-mainimg{
    margin-bottom: 5vw  ;
}


.serv-mainimg h3{
    position: absolute;
    top: 20vw;
    left: 40vw;
    font-family: "Russo one", sans-serif;
    font-size: 50px;
}

.c-link{
    text-decoration:none ;
}

.service{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
 
.service img{
    border-radius: 20px;
    width: 40vw;        
}

.service div{
    margin: 2vw 5vw ;
}

.serv-img1{
    grid-column: 2/4;
}

.serv-img1 img{
    width: 100%;
    height: 400px;
    margin-bottom: 4vw;

}


.serv-img2{
    grid-column: 1/3;
}

.serv-img2 img{
    width: 100%;
    height: 400px;
    margin-bottom: 4vw;
}

.serv-img3{
    grid-column: 2/4;
}

.serv-img3 img{
    width: 100%;
    height: 400px;
}

.service h3{
    font-size: 45px;
    font-family: "Fira sans";
}

.service-text p{
    text-align: left;
    font-size: 19px;
}


.imgages{
    display: flex;
    justify-content: center;
}

.contact-media{
    padding-top: 1.5vw;
}

.contact-media h4{
    font-family: "Roboto";
}


.imgages div{
    background-color: #fff;
    border-radius: 10px;
    margin: 2%;
    padding: 2.5%;
}

.contact div {
    display: flex;
}


.service-contact{
    background-color: rgb(8, 8, 73);
    background-color: black;
    color: #d3d3d3;
    height: 40vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 4vw;
}


.contact-text{
    text-align: left;
    padding-left:15vw ;
    font-family: "Roboto";

}

.contact-text h3{
    padding-bottom: 2vw;
    font-size: 48px;
}


.contact-text p{
    font-size: 20px;
}


.contact-btn{
    outline: none;
    border: none;
    margin-top: 6%;
}

.contact-btn button{
    outline: none;
    border: none;
    padding: 2% 6%;
    border-radius: 8px;
    font-size: 24px;
    font-family: "Roboto";
}

@media screen and (max-width:500px){
    .serv-mainimg img{
        height: 65vh;
    }
    .serv-mainimg h3{
        left: 25%;
        top: 20%;
        font-size: 42px;
    }
    .serv-img1, .serv-img2, .serv-img3{
        display: none;
    }
    .service{
        display: block;
        width: 100%;
    }
    .service-contact{
        display: block;
    }

    .contact-text{
        margin: 0;
        padding-left: 9%;
    }
    .contact-btn{
        display: flex;
        justify-content: left;
        padding-left: 9%;
    }

}


@media screen and (max-width:400px) {
    .contact-text{
        padding-left: 3%;
    }   
    .contact-btn{
        display: flex;
        justify-content: left;
        padding-left: 3%;
    }

}

@media screen and (max-width:900px){
    .serv-mainimg img{
        height: 65vh;
    }
    .serv-mainimg h3{
        left: 25%;
        top: 20%;
        font-size: 42px;
    }
    .serv-img1, .serv-img2, .serv-img3{
        display: none;
    }
    .service{
        display: block;
        width: 100%;
        margin-top: 6%;
        margin-bottom: 6%;
    
    }
    .service-contact{
        display: block;
    }

    .contact-text{
        margin: 0;
        padding-left: 9%;
    }
    .contact-btn{
        display: flex;
        justify-content: left;
        padding-left: 9%;
    }
    .service-text{
        width: 90%;
        }
        .service-text h3{
            text-align: left;
            padding-left: 9%;
        }
        .service-text p{
            width: 80%;
            text-align: left;
            margin: 0 auto  ;
        }
}


@media screen and (min-width:700px) and (max-width:900px) {
    .serv-mainimg img{
        height: 52vh;
    }
    .serv-mainimg h3{
        left: 35vw;
        top: 25vw;
        font-size: 54px;
    }
    .service{
        display: block;
        padding-right: 6vw;
    }
    .service2{
        display:none;
    }
    .service-contact{
        display: block;
        height: 25vh;
    }  
    .contact-text p{
        width: 70%;
    }  
}