*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.services{
    margin-top: 8vw;
    height: 80vh;
}


.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    margin: 4% 2%;
}

.service-1{
    margin: 5%;
    background-color: #fff;
    border-radius: 10px;
    padding: 4% 0%;
    position: relative;

}

.service-1 {
    transition: transform .7s ease-in-out;
  }
.service-1:hover .front-ser1 {
    /* transform: rotateY(200deg); */
    opacity: 0;
    transition: opacity 0.5s ;
}

.front-ser1{

    opacity: 1;
    transition: opacity 0.5s;
}

.service-1:hover .back-ser1 {
    opacity: 1;
    transition: opacity 0.5s;
    background-color: rgb(10, 4, 79);
    color: white;
}

.back-ser1{
    position: absolute;
    top: 0;
    /* left: 30%; */
    width: 90%;
    opacity: 0;
    transition: opacity 0.6s;
    height: 220px;
    font-family: 'Nunito', sans-serif;
    border-radius:0px ;
}

.back-ser1 p{
    text-align: left;
    padding: 0;
    padding-left: 5%;
    font-size: 15px;
    margin: 0;
}

.back-ser1 h3{
    width: 80%;
    text-align: left;
    font-size: 15px;
    padding: 5%;
    font-weight: 700;
    padding-top: 10%;

}



.service-1 h6{
    color: black;
    padding-top: 2vw;
    font-size:17px;
    font-weight: bold;
}

.title{
    display: flex;
    justify-content: left;
    margin-left: 7vw;
    margin-bottom: 0.8vw;
}

.title h2{
    font-size: 42px;
    /* font-weight: bold; */
    /* font-family: 'Aldrich', sans-serif;
    font-family: 'Fira Sans', sans-serif; */
    font-family: "Russo one";
}

.usted{
    display: flex;
    justify-content: left;
    padding-left: 7vw;
}

.usted p {
    font-size: 20px;
    color: blue;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}


@media screen and (max-width:500px) {
        .grid{
            display: grid;
            grid-template-columns: 50% 50%;
        }
        .title h2{
            text-align: left;
        }
        .services{
            margin-top: 15vw;
            height: 71vh;
        }
    }

@media screen and (min-width:700px) and (max-width:900px){
    .grid{
        display: grid;
        grid-template-columns: 50% 50%;
        height: 70vh;
    }
}

@media screen and (min-width:700px) and (max-width:900px) {
    .grid{
        height: 60vh;
    }
    .services{
        height: 80vh;
    }
}